
.reciept{
    width: 350px;
    height: 450px;
    border-radius: 5px;
    position: absolute;
    top: 3%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 100;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    color: rgb(64, 64, 64);
}
.reciept_header{
    background-color: rgb(1, 1, 88);
    color: white;
    padding: 10px 0 10px 4px;
    width: 99%;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
}

.reciept_tags{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.1px solid grey;
    font-size: 12px;
}

.total_reciept{
    padding: 8px 0 0 0;
    width: 95%;
    border-bottom: 0.1px solid grey;
    border-top: 0.1px solid grey;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}

.vat_reciept{
    border-bottom: 0.1px solid grey;
    width: 95%;
    text-align: center;
    padding: 5px 0 15px 0;
}

.disc_reciept{
    border-bottom: 0.1px solid grey;
    width: 95%;
    padding: 5px 0;
    text-align: center;

}

.main_reciept_tag{
    text-align: center;
    /* border: 1px solid red; */
    width: 95%;
    
}

.close_btn{
    width: 90%;
    margin-right: 15px;
    background-color: white;
    padding: 6px 0;
    border: 0.1px solid gray;
    border-radius: 3px;
    
}

.close_btn:hover{
    background-color: rgb(246, 246, 246);
}